body {
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 10px;
    height: 0;
}

h1 {
    background-color: #AA5588;
    border-radius: 3px;
    height: 100px;
    margin: auto;
    line-height: 100px;
    color: #DCDCDC;
}

.title {
    background-color: #aa5588;
    width: 90%;
    height: 75px;
    margin: 0 auto;
}

.title h1 {
    color: white;
}

.main {
    margin: auto;
    margin-top: 50px;
    background-color: #ddd;
    border: #aa5588 2px solid;
    width: 50%;
}

.forms {
    background-color: #aaa;
    width: 100%;
    height: 40px;
}

#pyramid {
    width: 100%;
    line-height: 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #AA5588;
    padding: 0;
}
